
body{
    background-color:black;
}
.heading{

    text-align: center;
}
#tokenSection{
    display: none;
}

#deviceSection{
    display: none;
}

.container{
    padding: 20px;    
    background-color:black;
    color:white;
}

#albumImage{
    width: 300px;
    float: left;
    margin: 20px;
}

#trackTitle{
    font-size:3em;
}

#trackArtist{
    font-size:2em;
}

.welcomeText{
    font-size:2em;
}